<div class="col-container">

    <div class="col">
        <p>Left column</p>
        <div class="card">
            <p>placeholder for gantt chart</p>
            <div class="chart" id="Chart" style="width: 100%"> </div>


        </div>
    </div>
    <div class="col">
        <p>Right column</p>
        <div class="card">


            <h2>My Tasks</h2>
            <ul>
                <li *ngFor="let task of Tasks" [class.selected]="task === selectedTask" (click)="onSelect(task)">
                    <span class="badge">{{task.id}}</span> {{task.title}}
                </li>
            </ul>
            <div *ngIf="selectedTask">
                <h2>{{selectedTask.title | uppercase}} Details</h2>
                <div><span>id: </span>{{selectedTask.id}}</div>
                <div>
                    <label>name:
                        <input [(ngModel)]="selectedTask.name" placeholder="name" />
                    </label>
                </div>
            </div>
            <!--
                <div *ngIf="selectedTask">
                    <p>placeholder for tabs</p>
                    <h2>{{selectedTask.title | uppercase}} Details</h2>
                    <div><span>id: </span>{{selectedTask.id}}</div>
                    <div>
                        <label>name:
                            <input [(ngModel)]="selectedTask.title" placeholder="name" />
                        </label>
                    </div>
                </div>
                -->
        </div>

    </div>



</div>