<div class="col-container">

    <div class="col">

        <div class="card">

            <div class="chart" id="Chart" style="width: 100%"> </div>


        </div>
    </div>
    <div class="col">

        <div class="card">
            <h2>Task Details</h2>
            <div *ngIf="selectedTask; else notShow">

                <div>
                    <span>id:</span><span>{{selectedTask.id}}</span>
                    <span> Name: </span><span>{{selectedTask.title}}</span>
                </div>
                <div>
                    <span>Sub-Activities </span><span><button (click)="onRefreshclick()">Refresh</button></span>
                </div>
                <div *ngIf="onRefresh">
                    <div *ngIf="selectedTask; else notShow">

                        <table>
                            <tr>
                                <th>SubActivities</th>
                            </tr>

                            <tr *ngFor="let subactivity of selectedTask.Subactivities">

                                <td>{{subactivity}}</td>
                            </tr>

                        </table>
                    </div>


                </div>
                <div>
                    <button (click)="onClickValidate()">Validate Task</button> <span>{{validationstatus}}</span>
                </div>
            </div>
            <ng-template #notShow>
                <p>
                    Select a task to display details here
                </p>
            </ng-template>

        </div>
        <div class="card">
            <h2>Resource Details</h2>
            <div *ngIf="selectedTask; else notShow">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Type</th>
                        <th>Property Value</th>
                        <th>Server</th>
                    </tr>

                    <tr *ngFor="let resource of selectedTask.Resource">
                        <td>{{resource.id}}</td>
                        <td>{{resource.type}}</td>
                        <td>{{resource.propertyvalue}}</td>
                        <td>{{resource.server}}</td>
                    </tr>

                </table>
                <button type="button">Add resource</button>
            </div>
            <ng-template #notShow>
                <p>
                    Select a task to display details here
                </p>
            </ng-template>

        </div>
        <div class="card">
            <h2>Constraint Details</h2>
            <div *ngIf="selectedTask; else notShow">

                <table>
                    <tr>
                        <th>ID</th>
                        <th>Type</th>

                    </tr>

                    <tr *ngFor="let constraint of selectedTask.Constraint">
                        <td>{{constraint.id}}</td>
                        <td>{{constraint.type}}</td>
                    </tr>

                </table>
                <button (click)="onClickConstraint()">Add constraint</button>
            </div>
            <ng-template #notShow>
                <p>
                    Select a task to display details here
                </p>
            </ng-template>

        </div>
        <div *ngIf="onaddconstraint" class="card">
            <app-tasks [task]="selectedTask"></app-tasks>


        </div>


    </div>



</div>
