<div class="header">
  <h1>{{title}}</h1>
</div>
<div class="topnav">
  <p>placeholder for top nav</p>
</div>
<div class="row">
  <div class="col-container">
    <div class="col">
      <p>Left column</p>
      <div class="card">
      <p>placeholder for gantt chart</p>  
      <app-ganttchart></app-ganttchart>
      </div>

    </div>
    <div class="col">
        <p>Right column</p>
        <div class="card">
        <p>placeholder for tabs</p>  
        <app-tasks [Task]="selectedTask"></app-tasks>
        </div>
  
      </div>
  </div>

</div>